* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

body {
  background-color: #ffff;
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}